<% if (post.tags && post.tags.length){ %>
	<% post.tags.forEach( function(tag, i){ %>
		
		<% if(type === "type1") { %>
     		<%= tag.name %>
     	<% } %>
     	
     	<% if(type === "type2") { %>
			<a href="<%- url_for(tag.path) %>" class="tag">
				<%= tag.name %>
			</a>     	
     	<% } %>		

	<% }) %>
<% } %>