<!--
	作者：Sariay
	时间：2019-03-03
	描述：There may be a bug, but don't worry, QiLing(器灵) says that it can work normally!
-->
<!DOCTYPE html>
<html>
	<%- partial('_partial/head',{cache: true}) %>
	<body>
		
	<!-- main -->
	<div >
  		<main>
  			
			<%- body %>
			
		</main>
		<!-- footer -->
		<%- partial('_partial/footer',{cache: true}) %>
	</div>		
	
	<!-- script -->
	<%- partial('_partial/script',{cache: true}) %>			
	</body>
</html>