<% if(theme.shareThis.enable){ %>
<div class="sharethis-inline-share-buttons"></div>
<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=<%- theme.shareThis.id %>&product=inline-share-buttons' async='async'></script>
<% } %>